*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;

}
body{
    height:100%;
    width: 100%;
    background-image:linear-gradient(rgba(66, 65, 65, 0.75),rgba(0, 0, 0, 0.75)),url(hg.jpg);
    background-size: cover;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color:rgb(96 90 90 / 75%);
    padding-bottom: 20px;
    
   
    
}
ul li{
    float: left;
    margin: 50px 50px 0px 0px;
    list-style: none;
    
}
li a{
    text-decoration: none;
    font-size: 25px;
    font-family:fangsong;
    transition: 0.2s;
    
}
li a:hover{
    color: #F7AF43;
    border-bottom: 6px solid #F7AF43;
    border-radius: 2px 2px 2px 2px;
}
.left .logo{
    font-size: 50px;
    margin: 20px 0px 0px 20px;
    cursor: pointer;
    font-family: cursive;
    color:#F7AF43;
    border-radius: 50px;
    
}
.center{
    margin: 190px 0px 0px 180px;
    font-size: 60px;
    line-height:80px;
    cursor: pointer;
}
.center span{
    color: #F7AF43;
    cursor: pointer;
}
.center-p{
    color: #F7AF43;
    margin: 10px 0px 0px 200px;
    font-family: fangsong;
    font-size: 18px;

}
.items img{
    height: 190px;
    width: 190px;
    margin: 20px 0px 0px 30px ;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s;
   


}
.items img:hover{
border: 3px solid #F7AF43;
}
.items{
    display: flex;
    align-items: center;
  
}
.items-2 img{
    height: 190px;
    width: 190px;
    margin: 20px 0px 0px 27px ;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s;
} 
.items-2 img:hover{
    border: 3px solid #F7AF43; 
}
.items-3 img{
    height: 190px;
    width: 190px;
    margin: 20px 0px 0px 27px ;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s;
}
.items-3 img:hover{
    border: 3px solid #F7AF43;
}
.mid-2 h2{
margin: 30px 0px 0px 350px;
transition: 0.1s;
}
.mid-2 h2:hover{
    color: #F7AF43;
    cursor: pointer;
    text-decoration: underline;
}
.mid-2 a{
    display: flex;
   flex-direction: row-reverse;
   margin: 10px 40px 0px 0px;
   transition: 0.1s;
    
}
.mid-2 a:hover{
color: #F7AF43;
}
footer{
    height: 100% ;
    width: 100%;
    background-color: rgb(96 90 90 / 75%);
    border-radius: 25% 68% 0% 0%;
}
.main-para{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin:20px 0px 0px 0px; 
}
.para-1{
    margin: 30px 0px 20px 0px;
}
#para-id{
    margin: 0px 0px 0px 70px;
}
.para-1 p{
    margin: 15px 0px 0px 0px;
    cursor: pointer;

}
.main-icons{
    display: flex;
flex-direction: row-reverse;
    
}
i{
padding: 15px ;
    font-size: 30px ;
    cursor: pointer;
    transition: 0.1s;
}
#para-id h2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}
i:hover{
    color: #F7AF43;
}
